.footer {
  padding: 1rem;
  border-top-width: 2px;
  border-color: #93c5fd;
  background-color: #1e40af;
}

p {
  text-align: center;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #dedede;
}
