::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #666;
}

::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 100px;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b1425;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  cursor: pointer;
  display: block;
  width: 350px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  color: white;
  border: none;
  border-radius: 3px;
}
img {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}
input {
  box-sizing: border-box;
  display: block;
  padding: 10px;
  width: 350px;
  margin: auto;
  margin-bottom: 15px;
}
h1 {
  text-align: center;
  font-size: 40px;
}
